/* UNIVERSAL */
body {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #00887a;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: arial;
  font-weight: bold;
  color: #00887a;
  z-index: 1;
  position: fixed;
  background-color: white;
  align-items: center;
}

.nav-bar {
  margin-left: auto;
}

.nav-bar span {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 20px;
}

.Angus-Harrison {
  font-size: 30px;
  padding-left: 10px;
}

.nav-bar a {
  color: #00887a;
  text-decoration: none;
}

.nav-bar a:hover {
  color: black;
  transition: .5s ease
}


/* MAIN BODY */

main {
  max-width: 1200px;
  margin: 0 auto;
}

.thumbnails {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.images {
  width: 300px;
  height: 300px;
  margin: 5px;
  text-decoration: none;
  padding-bottom: 40px;
}

.images img {
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.text-wrapper {
  border-radius: 10px;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  opacity: 0;


}

.text-wrapper:hover {
  transition: all 0.8s ease;
  background: #00887a;
  opacity: 0.8;
}

/* FOOTER */

footer {
  color: #00887a;
  font-family: courier;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.twitter-logo img {
  width: 30px;
  height: 30px;
}

.twitter-logo {
  margin-left: auto;
  padding-right: 40px;
}

.twitter-logo img:hover {
  opacity: 0.3;
  transition: .8s ease;

}
